doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='icon', type='image/png', href='_fe/img/favicon.ico')
    title Webmaker | Herbert West

    //- CSS with Less inline source annotations for dev; Minified CSS for prod
    - if (typeof dev !== 'undefined' && dev === true)
      link(href='_fe/compiled/app.debug.css', rel='stylesheet', type='text/css', media='all')
    - else
      link(href='_fe/compiled/app.min.css', rel='stylesheet', type='text/css', media='all')
  body
    script(src='https://login.persona.org/include.js')
    //- Load individual JS files for dev and one concat file for prod
    - if (typeof dev !== 'undefined' && dev === true)
      script(data-main='_fe/js/main', src='bower_components/requirejs/require.js')
    - else
      script(src='bower_components/requirejs/require.js')
      script(src='_fe/compiled/app.min.js')
