.button {
  border: 1px solid;
  background: @blue;
  padding: 8px 16px;
  color: @white;
  transition: background 100ms linear;
  font-size: 1.4em; // 14px
  margin-right: 10px;

  &:hover {
    background: darken(@blue, 10%);
    text-decoration: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &.disabled {
    background: @grey;
    pointer-events: none;
    opacity: 0.2;
  }
}
