.tile.hackable {
  height: auto;

  button {
    background: @blue;
    border: none;
    color: @white;
    font-size: 1.66em;
    padding: 8px 12px;
    transition: background 200ms linear;
    margin-right: 10px;

    &.save {
      display: none;
      margin-right: 0;
    }
  }

  button:hover {
    background: darken(@blue, 10%);
  }

  textarea {
    font-family: Menlo, monospace;
    display: none;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    font-size: 1.8em;
    padding: 10px;
    resize: none;
  }

  .hacked-content {
    font-size: 1.4em;
    display: none;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;

    img {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
}
