.tiles-wrapper {
  background-color: @lightgrey;
  padding: 0 @gutter 20px @gutter;
  min-height: 300px;
}

.tiles {
  .gutter-sizer {
    width: @gutter;
  }
  .grid-sizer,
  .tile {
    width: 100%;
    @media (min-width: @width-medium) {
      width: ((100% - @gutter) / 2); // 2 cols
    }
    @media (min-width: @width-large) {
      width: ((100% - (3 * @gutter)) / 4); // 4 cols
    }
  }

  .tile {
    background: @white;
    font-weight: 200;
    padding: 10px;
    border: 1px solid @white;

    &.private {
      display: none;
    }

    body.edit-mode &.private {
      display: block;
    }

    @media (min-width: @width-small) {
      body.edit-mode & {
        border: 1px solid @lightgrey;
      }
    }

    a {
      -webkit-transition: color .25s linear .1s;
      transition: color .25s linear .1s;
      body.edit-mode & {
        cursor: default;
        color: #CCC;
        -webkit-transition: color .25s linear;
        transition: color .25s linear;
      }
    }

    h3 {
      font-size: 1.8em;
      line-height: 1.2;
      font-weight: inherit;
      margin: 0 0 0.5em 0;
      a {
        font-size: 1.1em;
      }
    }
  }
}
