ul.tiles {

  margin: 3% 0;

  li {
    border: 1px solid fade(darken(@green, 10%), 90%);
    background: @white;
    //height: 100px;
    padding: 10px;
    float: left;
    width: 97%;
    margin: 0 1.5% 3% 1.5%;

    @media (min-width: @width-medium) {
      width: 47%;
    }

    @media (min-width: @width-large) {
      width: (100% / 3 - 3);
    }
  }
}
