// Global styles (Header, Footer, Content wrapper)

body > header {
  background: @green;
  padding: 10px;
  border-bottom: 1px solid fade(darken(@backgroundcolor, 20%), 90%);
  font-size: 0.5em;
  display: -webkit-box;
  .flex-display;
  -webkit-box-align: center;
  .justify-content(center);
  -webkit-box-pack: center;
  .align-items(center);
  color: @white;
  letter-spacing: 0.15em;
  z-index: 2;
  position: relative;

  .avatar {
    .flex(2);
    width: 0; // safari 6 flexbox workaround
    margin-right: 3%;
    border: 3px solid fade(@grey, 30%);
    background: @green;
    border-radius: 50%;
    overflow: hidden;

    @media (min-width: @width-large) {
      .flex(1);
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .meta {
    .flex(8);
    .align-self('center');
  }

  @media (min-width: @width-medium) {
    padding: 20px;
    font-size: 0.66em;

    .mobile {
      display: none;
    }
  }

  .full-name {
    font-weight: 100;
  }
  .username {
    font-size: 2.33em;
    font-weight: 100;
  }
  .edit-mode,
  .login,
  .logout {
    font-size: 3em;
    &.hidden {
      display: none;
    }
  }
}


