* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
  background: #fff;
  color: #000;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.33em;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 3.5em;
}
h4 {
  font-size: 3em;
}
h5 {
  font-size: 2.5em;
}
h6 {
  font-size: 2em;
}
p {
  font-size: 1.4em;
  line-height: 1.33em;
  margin-bottom: 1em;
}
ul,
ol {
  list-style: none;
}
strong {
  font-weight: 900;
}
em {
  font-style: italic;
}
a {
  color: #618199;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  outline: 0;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
