// GENERAL --------------------------------------------------------------------

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Display in IE6-9 and FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    background: #fff;
    color: #000;
    font-size: 62.5%; // 1em = 10px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// TYPOGRAPHY -----------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    line-height: 1.33em;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3.5em;
}

h4 {
    font-size: 3em;
}

h5 {
    font-size: 2.5em;
}

h6 {
    font-size: 2em;
}

p {
    font-size: 1.4em;
    line-height: 1.33em;
    margin-bottom: 1em;
}

ul,
ol {
    list-style: none;
}

strong {
    font-weight: 900;
}

em {
    font-style: italic;
}

// OTHER ----------------------------------------------------------------------

a {
    color: #618199; // Slate Blue
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
    outline: 0;
}

img {
    border: 0;

    // Responsive
    max-width: 100%;
    height: auto;
}

// FORMS ----------------------------------------------------------------------

// Derived from Twitter Bootstrap - https://github.com/twitter/bootstrap

// Font size in all browsers, margin changes, misc consistency
button,
input,
select,
textarea {
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    line-height: normal; // FF3/4 have !important on line-height in UA stylesheet
}

button::-moz-focus-inner,
input::-moz-focus-inner { // Inner padding and border oddities in FF3/4
    border: 0;
}

button,
html input[type="button"], // Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; // Corrects inability to style clickable `input` types in iOS.
    cursor: pointer; // Improves usability and consistency of cursor style between image-type `input` and others.
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer; // Improves usability and consistency of cursor style between image-type `input` and others.
}

input[type="search"] { // Appearance in Safari/Chrome
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; // Inner-padding issues in Chrome OSX, Safari 5
}

textarea {
    overflow: auto; // Remove vertical scrollbar in IE6-9
    vertical-align: top; // Readability and alignment cross-browser
}