include ../arrow-container

.tile.photobooth
  mixin arrowtainer
  .status
    | Waiting for permission...
  .photobooth-container
    canvas
    video.input-video
    img.output-img.hidden
  .button-container
    a.button.trigger.hidden
