include ../arrow-container
include ../privacy-toggle

.tile.photobooth
  include ../delete-button
  button.button-grey.edit.off #{__edit}
  .status #{__permission}
    span #{__permissionHelp}
  .photobooth-container
    canvas
    video.input-video
    img.first-frame
    img.gif
  .button-container

    button.trigger.off
    button.done.off #{__Done}
  .progress-bar.off
    .bar

  mixin arrowtainer
  mixin privacyToggle
