include ../arrow-container

.tile.photobooth
  include ../delete-button
  .status
    | Waiting for permission...
  .photobooth-container
    canvas
    video.input-video
    img.first-frame
    img.gif
  .button-container
    a.button.button-grey.edit.off Edit
    a.button.trigger.off
  mixin arrowtainer
