li.tile.photobooth
  div.movement-arrows
    i.icon-arrow-up
    i.icon-arrow-down
  .status
    | Waiting for permission...
  .photobooth-container
    canvas
    video.input-video
    img.output-img.hidden
  .button-container
    a.button.trigger.hidden
