include ../arrow-container
include ../privacy-toggle

.tile.photobooth
  include ../delete-button
  .status #{__permission}
    span #{__permissionHelp}
  .photobooth-container
    canvas
    video.input-video
    img.first-frame
    img.gif
  .button-container
    button.button-grey.edit.off #{__edit}
    button.trigger.off
    span.progress.icon-spin.icon-spinner.off
  mixin arrowtainer
  mixin privacyToggle
