li(class="tile #{type}")
  h3.handle.title #{title}
  div.movement-arrows
    button.js-tile-up
      i.icon-arrow-up
    button.js-tile-down
      i.icon-arrow-down
  img.thumbnail(src="#{thumbnail}")
  p.description #{description}
